sqlmap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.epril.com/sqlmap"
        xmlns:tns="http://www.epril.com/sqlmap" elementFormDefault="qualified">
    <element name="sqlmap">
        <complexType>
            <sequence>
                <element name="sql" type="tns:sqlType" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>

    <complexType name="sqlType">
        <sequence>
            <element name="key" type="string"/>
            <element name="value" type="string"/>
        </sequence>
    </complexType>
</schema>